/* Start Blog Page */
.banner-blog {
  #banner-img {
    background-image: url(../images//banner-blog.jpg);
  }
}

.custom-focus-input {
  &:focus {
    box-shadow: none;
    border-color: $mainColor;
  }
}

.blog-cards {
  .blog-search {
    .card {
      box-shadow: 1px 1px 0px 1px #eee;
      //border-radius: 0;
      border-top-left-radius: 0;
    }
    .card-body {
      .custom-btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  .cards {
    .card-title {
      margin-bottom: 13px;
      font-size: 19px;
    }

    .project-detials {
      font-size: 15px;
      font-weight: normal;
      color: $cardTextColor;
      -webkit-line-clamp: 1;
    }
  }
}
/* End Blog Page */

/* Start Blog-Details Page */
.blog-details {
  .card-header {
    h3 {
      font-weight: bold;
      color: $mainColor;
    }
    .date {
      font-size: 15px;
    }
  }

  .card-text {
    p {
      color: $cardTextColor;
      margin-bottom: 35px;
    }

    .bottom-card-text {
      h5 {
        color: $mainColor;
        font-weight: bold;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .card-footer {
    span {
      color: $mainColor;
    }
  }
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $cardTextColor;
  color: $cardTextColor;
  width: 45px;
  height: 45px;
  border-radius: 3px;
  margin-left: 10px;
  margin-bottom: 16px;
  float: left;
  transition: all 0.3s ease-in-out;
}

.linkedin-social {
  &:hover,
  &:focus {
    color: #fff;
    background-color: #0e76a8;
    border-color: #0e76a8;
  }
}

.facebook-social {
  &:hover,
  &:focus {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
  }
}

.twitter-social {
  &:hover,
  &:focus {
    color: #fff;
    background-color: #00acee;
    border-color: #00acee;
  }
}
/* End Blog-Details Page */

/* Start Add-Blog Page */
.add-blog {
  .add-blog-labels {
    color: #000;
    font-size: 14px;
    font-weight: bold;
  }
  
  .custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin-bottom: 0;

    .custom-file-input {
      position: relative;
      z-index: 2;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      margin: 0;
      opacity: 0;
    }

    .custom-file-label {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 0;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
    }

    .custom-file-browse {
      background-color: $customColor;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      line-height: 1.5;
      color: #495057;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
/* End Add-Blog Page */

@media (max-width: 991.5px) {
  .blog-details {
    .card-header {
      h3 {
        font-size: 23px;
      }
    }
  }
}

@media (max-width: 420px) {
  .blog-details {
    .card-header {
      h3 {
        font-size: 18px;
      }
      .date {
        font-size: 13px;
      }
    }

    .card-text {
      p {
        font-size: 14px;
      }

      h5 {
        font-size: 18px;
      }
    }
  }
}
